---
layout: base.njk
myOtherData: hello
---

<img class="profile-picture" src="assets/profile.jpeg" />
<div class="name">Arfat Salman</div>

<article class="intro">
  A passionate full stack web developer and an instructor.
</article>

<article class="intro">
  I have 4 years of experience in building user interfaces using React and
  JavaScript.
</article>

<div class="links">
  <div>
    <img src="assets/github.png" alt="Icon of GitHub, Inc." />
    <a href="https://github.com/ArfatSalman/">GitHub</a>
  </div>
  <div>
    <img src="assets/medium.png" alt="Icon of Medium" />
    <a href="https://medium.com/@arfatsalman">Medium</a>
  </div>
  <div>
    <img src="assets/twitter.png" alt="Icon of Twitter" />
    <a href="https://twitter.com/salman_arfat">Twitter</a>
  </div>
  <div>
    <img src="assets/linkedin.png" alt="Icon of LinkedIn" />
    <a href="https://www.linkedin.com/in/arfatsalman/">LinkedIn</a>
  </div>
</div>
